h1, h2, h3, h4 {
  font-weight: 600;
}

h1 {
  font-size: var(--fontSize-2xl);
  margin: 0 0 var(--space-m) 0;
}

h2 {
  font-size: var(--fontSize-xl);
  margin: var(--space-m) 0;
}

h3 {
  font-size: var(--fontSize-l);
  margin: var(--space-l) 0 var(--space-m) 0;
}

h4 {
  font-size: var(--fontSize-m);
  margin: var(--space-l) 0 var(--space-s) 0;
}

:root {
  --pagePadding: calc(1rem + 3vw);
}